/* Movie_ScreeningMovie_ListOfScreenedMovies.css */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1000px;
    margin: 0px auto;
    background: #1F324B;
    color: #FFFFFF;
}

h3 {
    color: #FFFFFF;
}