<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://thymeleaf.org">
<meta charset="UTF-8">

<style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}
	
	td, th{
		border: 1px solid black;
		text-align: left;
	}
	
	tr:nth-child(even){
		background-color:#dddddd;
	}
</style>

<title>test</title>
	</head>
<body>
	<h1>Test</h1>
	
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="test : ${testList}">
			 	<td><span th:text="${test.id}"></span></td>
				<td><span th:text="${test.title}"></span></td>
			</tr>
		</tbody>
	</table>
</body>
</html>