<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://thymeleaf.org">
<meta charset="UTF-8">

<style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}
	
	td, th{
		border: 1px solid black;
		text-align: left;
	}
	
	tr:nth-child(even){
		background-color:#dddddd;
	}
</style>

<title>Q & A </title>
	</head>
<body>
<form method="post" action="/board/QandA">
		<h1>Q & A</h1>
	<table>
		<thead>
			<tr>
				<th>번호</th>
				<th>카테고리</th>
				<th>질문 제목</th>
				<th>작성자</th>
				<th>등록일자</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="question : ${questionList}">
			 	<td><span th:text="${question.question_id}"></span></td>
				<td><span th:text="${question.category_name}"></span></td>
				<td><a th:text="${question.question_title}" th:href="@{/board/QandA_detail(id = ${question.question_id})}"></a></td>
				<td><span th:text="${question.member_account}"></span></td>
				<td><span th:text="${question.question_reg_date}"></span></td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-primary" onClick="location.href='QandA_add'">질문 작성 하기</button>
	</form>
</body>
</html>