/* Section_article.css */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: #999; */
    margin: 0;
}

/* 상영중인 영화 */
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.swiper-slide {
    /* background: #1F324B; */
    text-align: center;
}

.swiper-slide img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    /* object-fit: cover; */
}