/* 예매하기 : TicketingMain.css */

/* 예매하기 */
.Ticketing_TicketingMain {
  width: 1000px;
  height: 980px;
  text-align: center;
  
}

/*예매하기 목록들 css*/
.Ticketing_TicketingMain li {
  background: #595959;
  margin: 10px;
  padding: 10px;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;

  text-decoration: none;
  display: block;
 
}


/* 영화 선택 */
.Ticketing_SelectMovie {
  float: left;

  width: 400px;
  height: 800px;

  background: #e6e6e6;
  margin: 10px;
  text-align: center;
  border-radius: 10px;

  /* 스크롤 */
  overflow: auto;
}

/*영화 이미지값 리스트*/
.SelectMovie .SelectIMG {
  display: none;
}

/* 지역 선택,
극장 선택,
날짜 선택,
시간 선택 */
.Ticketing_Select_InlineBlock li {
  display: inline-block;
  width: 110px;
}

/* 지역 선택,
극장 선택,
날짜 선택,
시간 선택 */
.Ticketing_SelectRegion,
.Ticketing_SelectCinema,
.Ticketing_Theater,
.Ticketing_SelectDate,
.Ticketing_SelectTime {
  float: left;

  width: 550px;
  height: auto;

  background: #e6e6e6;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}

/* 버튼 색 변경 */
.SelectRegion,
.SelectCinema,
.SelectTheater,
.SelectDate,
.SelectTime,
.TicketingSeat {
  display: block;

}


/*리스트 클릭시 발생하는 색상*/
li.SelectMV.clicked,
li.SelectRG.clicked,
li.SelectCN.clicked,
li.SelectDT.clicked,
li.SelectTI.clicked {
  background-color: #ffd700;
  color: #000000;
  
}


li.SelectCN{float: left;}


/*예매좌석 선택 팝업창*/
.modal > #pick_width {
  width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
  height: auto;
}


.pick_btn{display: inline; background-color: red;}


.SelectTicket_btn{
  width: 1000px;height: 250px; 
  text-align: center;
   margin-bottom: 40px; 
   display: none;
  }
  
  
  /* 에매좌석 버튼 클릭시 효과 */
  .Ticket_btn{width: 800px;height: 200px;font-size: 40px;transition: all 2s;}
  .Ticket_btn:hover{width: 400px;height: 100px;}