/* AdminMovie.css */
.AdminMovie table {
  width: 1280px;
  height: auto;
  text-align: left;
  border-collapse: collapse;
}

.AdminMovie th,
.AdminMovie td {
  border: 1px solid #1f324b;
  width: auto;
  height: 30px;
  padding: 10px;
}
