.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #1F324B;
}

p {
  color: #FFFFFF;
}

h3 {
  color: #FFFFFF;
  text-align: center;
  
}

button
{
  color: #FFFFFF;
  background-color: #000000;
  text-align: center;
}

.container {
  margin-left: 20%;
  margin-right: 20%;
}

/* .test {
  background-color: white;
  height: 250px;
  box-sizing: border-box;
} */

img {
  width: 150px;
  height: 250px;
}

.slick-slide {
  margin: 10px;
}
