/* Member_MyPage.css */

/* 내정보 전체 */
.profileinformation {
  z-index: -1;
  width: 100%;
  height: 330px;
  background: #e6e6e6;
  border-radius: 20px;
  position: relative;
}
/* 사진 */
#profilepicture {
  margin: 20px;
  width: 200px;
  height: 250px;
  float: left;
  background: #bfbfbf;
}

.profilename {
  padding: 20px;
  margin: 20px;
  /* display: inline-block; */
  width: 400px;
  float: left;
  height: auto;
}

/* 아이콘 전체영역 */
.iconspace {
  float: left;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  position: absolute;
  right: 50px;
  top: 150px;
  text-align: center;
}

/* 아이콘 사진 크기조정 */
.icon img,
.icon img,
.icon img {
  width: 80px;
  height: 80px;
}

/* My 예매정보 */
/* 예매정보전체 */
.Reservation_information {
  border: solid #1f324b;
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 20px;
  margin: 20px 0px 20px 0px;
}

/* MY예매정보 영화포스터사진 */
.Reservation_picter {
  margin: 20px;
  width: 200px;
  height: 310px;
  float: left;
  background: #bfbfbf;
  border-radius: 15px;
}

/* MY예매정보 영화포스터사진 */
#Reervation_picter {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
