<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <h1>비밀번호 확인</h1>
<form method="post" action="/member/password_check">
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" class="form-control" name="member_pw" placeholder="비밀번호 입력해주세요">
        </div>
        <button type="submit" class="btn btn-primary">비밀번호 확인</button>
        <div th:text="${info}"></div>
    </form>
    <br/>
</div>
</body>
</html>