/* Header.css */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 1000px;
  margin: 0px auto;
}


header {
  /* 스크롤 내릴 때 메뉴바 */
  /* width: 1200px; */ 
  /* position: fixed; */
  z-index: 2;
  margin: 0px auto;
  background-color: white;
}

.firstpart {
  height: 50px;
  border-bottom: 1px solid gray;
  margin: 10px auto;
  position: relative;
}

#toppicture {
  width: 170px;
  height: 50px;
  position: absolute;
}

.TopMenu {
  width: 300px;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  top: 10px;
  right: 0px;
  height: 40px;
}

.TopMenu1 {

  text-align: center;
  padding-top: 7px;
}

.TopMenu2 {
  padding-top: 7px;
  text-align: center;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.TopMenu3 {
  padding-top: 7px;
  text-align: center;
}

/* ul li태그에 리스트 스타일을 없앰 */
ul li {
  list-style: none;
}

/* a태그에 텍스트 밑줄을 없애고 색상을 #333 */
ul li a {
  text-decoration: none;
  color: white;
}

/* 글자크기를 16px 맑은 고딕 굵게하고 width넓이 700, 높이 50만큼 배경색은 #ccc, 글자색은 검정색, 라인높이50px
menu박스 가운데정렬, 글자가운데 정렬 */
#menu {
  font: bold 16px "malgun gothic";
  width: 1280px;
  margin: 0px auto;
  /* 메뉴바 전체크기 */
  width: 1000px;
  height: 50px;
  
  background: #1F324B;
  color: black;
  line-height: 50px;
  margin: 10px auto;
  text-align: center;
}

/* menu태그 자식의 ul의 자식 li를 왼쪽정렬과 넓이 140설정 */
#menu>ul>li {
  display: inline-block;
  /* float: left; */
  /*은진수정 : 왼쪽정렬 대신에 display를 적용하여 가운데로 배치함.*/
  width: 140px;
  position: relative;
}

#menu>ul>li>ul {
  width: 130px;
  display: none;
  position: absolute;
  font-size: 14px;
  background: skyblue;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#menu>ul>li:hover>ul {
  display: block;
}

#menu>ul>li>ul>li:hover {
  background: orange;
  transition: ease 1s;
}

/* #wrap {
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-color: #f2f2f2;
}  */