/* Section_article.css */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 1280px;
    margin: 0px auto;
}

.all {
    background-color: #1F324B;
    color: #FFFFFF;
}

/* 상영중인 영화 */
h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.swiper-slide {
    /* background: #1F324B; */
    text-align: center;
}

.swiper-slide img {
    /* 이미지 테두리 둥글게 */
    border-radius: 5%;
    display: block;
    max-width: 100%;
    max-height: 100%;
    /* object-fit: cover; */
}