<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>user access</title>
</head>
<body>
<form method="post" action="manage_notice_delete">
<input type="hidden" th:name="notice_id" th:value="${notice_id}"/>
<h1>공지사항을 삭제 하겠습니까?</h1>
<button type="submit" class="btn btn-primary">삭제</button>
<button type="button" class="btn btn-primary" onClick="location.href='manage_notice'">공지사항 리스트로</button>
<div th:text="${msg}"></div>
</form>
</body>
</html>
