/* Questions_QuestionsInfo.css */

.Questions_QuestionsInfo_Main {
  width: 1000px;
  height: auto;
  margin: 0px auto;
}

.article_detail {
  border: 1px solid #595959;
  border-radius: 10px;
}

.article_detail > table {
  padding: 10px;
  margin: 10px;
}
.article_detail > table th,
.article_detail > table td {
  margin: 3px;
  padding: 3px;
  width: 200px;
  height: 30px;
}
.article_detail > table th {
  background: #595959;
  color: #ffffff;
  border-radius: 10px;
}
.article_detail > table td {
  border-radius: 10px;
  width: 300px;
  padding: 0px 30px 0px 30px;
}

.article_detail .article_body {
  margin: 30px;
}

.article_detail .article_body {
  margin: 30px;
}

/* 관리자 답변 */
/* #answer {
  display: none;
} */
