/* AdminNoticeList.css */
.AdminNoticeList table {
  width: 100%;
  border: 1px solid #1f324b;
  border-collapse: collapse;
}
.AdminNoticeList th,
.AdminNoticeList td {
  border: 1px solid #1f324b;
}
