/* Theater_Theater.css */

.Theater_Theater {
  max-width: 1000px;
  height: auto;
  margin: 0px auto;
}

.theater span {
  /* font-size: 20px; */
  position: absolute;
  right: 30px;
  bottom: 10px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 900;
}

.TempPur,
.soundX,
.sphereX,
.IMAX,
.fourDX {
  position: absolute;
}

.theater div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.theater div img:hover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.4);
  opacity: 0.2;
}

.TempPurbg {
  position: absolute;
  top: 40px;
  width: 626px;
  height: 260px;
  background: #000000;
}

.soundXbg {
  background: #000000;
  position: absolute;
  top: 332px;
  width: 298px;
  height: 410px;
}

.sphereXbg {
  position: absolute;
  background: #000000;
  top: 332px;
  left: 328px;
  width: 298px;
  height: 410px;
}

.IMAXbg {
  position: absolute;
  background: #000000;
  top: 40px;
  right: 0px;
  width: 340px;
  height: 700px;
}

.fourDXbg {
  position: absolute;
  background: #000000;
  top: 773px;
  width: 980px;
  height: 320px;
}

.TempPur_explanation {
  position: relative;
  left: 166px;
  padding-top: 30px;
  text-align: center;
  width: 300px;
  height: 160px;
  color: #ffffff;
}

.soundX_explanation {
  position: relative;
  color: #ffffff;
  top: 100px;
  left: 40px;
  width: 220px;
  text-align: center;
  height: px;
}

.sphereX_explanation {
  position: relative;
  color: #ffffff;
  top: 100px;
  left: 39px;
  text-align: center;
  width: 220px;
  height: 200px;
}

.IMAX_explanation {
  position: relative;
  color: #ffffff;
  top: 220px;
  left: 30px;
  width: 280px;
  text-align: center;
}

.fourDX_explanation {
  position: relative;
  color: #ffffff;
  top: 100px;
  left: 274px;
  width: 420px;
  text-align: center;
}

.theater > div {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px #ffffff;
}

.theater {
  position: relative;
  height: 1165px;
  border-radius: 20px;
  /* background: #1f324b; */
  margin: 10px;
}

.TempPur {
  top: 0px;
  width: 626px;
  height: 260px;
}

.IMAX {
  top: 0px;
  right: 0px;
  width: 340px;
  height: 700px;
}

.soundX {
  top: 0px;
  width: 298px;
  height: 410px;
}

.sphereX {
  top: 0px;
  left: 0px;
  width: 298px;
  height: 410px;
}

.fourDX {
  top: 0px;
  width: 980px;
  height: 320px;
}
