/* Questions_Write.css */

.Questions_Write {
  width: 1000px;
  height: 1000px;
}

.ui_border .border_cont {
  padding: 20px;
  margin: 10px;
  border-top: 3px solid #999999;
  border-bottom: 3px solid #999999;
}

/* 카테고리 선택 */
.border_cont .Questions_select {
  margin-left: 5px;
}

.border_cont table th {
  width: 200px;
  height: 10px;
  background: #595959;
  color: #ffffff;
  border-radius: 10px;
}

/* 내용 입력 */
.ui_border .border_cont textarea {
  padding: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  max-width: 900px;
  width: 900px;
  border: 0;
  text-align: left;
  margin: 20px;
  height: 300px;
}

.ui_border .border_cont .questions_title {
  height: 10px;
  width: 500px;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.ui_border .border_cont select {
  width: 150px;
  height: 30px;
  border-radius: 5px;
}
