/* Header.css */

/* ===== Header.css 전체 ===== */
header {
  z-index: 1;
  width: 1000px;
  height: 150px;
  margin: 0px auto;
}

/* ===== 로고 ===== */
#toppicture {
  width: 130px;
  height: 50px;
}

/* ===== 관리자, 로그인, 로그아웃, 회원가입, 마이페이지 ===== */
header .TopMenu {
  width: auto;
  height: 50px;
  /* 가로 배치 */
  display: flex;
  /* 오른쪽 정렬 */
  float: right;
}

header .TopMenu1,
header .TopMenu2,
header .TopMenu3 {
  margin: 10px;
  padding: 10px;
}

header .TopMenu :hover {
  color: #ff6347;
}

/* ===== 메인 메뉴바 전체 ===== */

header p {
  color: #ffffff;
}

header #menu {
  margin: 0px auto;
  width: 1000px;
  line-height: 50px;
  border-radius: 30px;
  background: #1f324b;
  text-align: center;
}

/* 상위 부분 */
header #menu > ul > li {
  /* 가로 정렬 */
  display: inline-block;
  width: 150px;
}

header #menu > ul > li > a {
  color: #ffffff;
}

/* 하위 부분 */
header #menu > ul > li:hover > ul {
  /* 메뉴바 펼치기 */
  display: block;
}

header #menu > ul > li > ul {
  width: 150px;
  display: none;
  position: absolute;
  background: #87ceeb;
  transition: ease 1s;
  border-radius: 10px;
}

header #menu > ul > li > ul > li:hover {
  /* width: 150px; */
  /* display: none; */
  /* position: absolute; */
  background: orange;
  transition: ease 1s;
  border-radius: 10px;
}

.imgspace {
  width: 130px;
  height: 50px;
  float: left;
  text-align: center;
  line-height: 60px;
}

.maincenter {
  clear: both;
}
