/* Header.css */

.firstpart {
  /* z-index: 1; */
  max-width: 1000px;
  height: 50px;
  margin: 10px auto;
  /* position: relative; */
}

/* ===== 로고 ===== */
#toppicture {
  width: 130px;
  height: 50px;
  /* position: absolute; */
}

/* ===== 로그인, 회원가입, 마이페이지 ===== */
.TopMenu {
  width: 400px;
  height: 50px;
  display: flex; /* 가로 배치 */
  /* 오른쪽 정렬 */
  float: right;
}

.TopMenu1,
.TopMenu2,
.TopMenu3 {
  padding: 7px 20px 7px 20px;
}

.TopMenu :hover {
  color: #ff6347;
}

/* ===== 메인 메뉴바 전체 ===== */
#menu {
  width: 1000px;
  /* height: 50px; */
  line-height: 50px;
  /* vertical-align: middle; */

  background: #1f324b;
  border-radius: 30px;

  margin: 10px auto;
  text-align: center;
}

/* 상위 부분 */
#menu > ul > li {
  /* 가로 정렬 */
  display: inline-block;
  width: 150px;
  /* position: relative; */
}

#menu > ul > li > a {
  /* 밑줄 제거 */
  text-decoration: none;
  color: #ffffff;
}

/* 하위 부분 */
#menu > ul > li:hover > ul {
  /* 메뉴바 펼치기 */
  display: block;
}

#menu > ul > li > ul {
  width: 150px;
  display: none;
  position: absolute;
  background: #87ceeb;
  border-radius: 10px;
  list-style: none;
}

#menu > ul > li > ul > li:hover {
  background: orange;
  transition: ease 1s;
  border-radius: 10px;
}

#menu > ul > li > ul > li > a {
  text-decoration: none;
  color: #000000;
}
