/* Main.css */
* {
  margin: 0;
  padding: 0;
  margin: 0px auto; /* 위아래 여백 없이 가로 중앙에 배치 */
}

/* body {
  max-width: 1000px;
  height: auto;
  margin: 0px auto;
} */

h2,
h3 {
  margin: 20px;
}

/* 모든 a 태그 css 적용 */
a {
  /* 밑줄 삭제 */
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

/* 모든 button css 적용 */
button {
  margin: 5px;
  padding: 5px;

  width: 100px;
  height: auto;

  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  background: #1f324b;
  border: 1px solid #1f324b;
}

button:hover {
  margin: 5px;
  padding: 5px;

  width: 100px;
  height: auto;

  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  background: #ff6347;
  border: 1px solid #ff6347;
}

/* 공지사항 > 공지사항, Q&A 버튼 div */
.Notice_btn {
  text-align: right;
}
