/* Section_article.css */

.Section_article {
  width: 1000px;
  height: 500px;
  margin: 0px auto; /* 위아래 여백 없이 가로 중앙에 배치 */
}

.Section_article .Section_article01 {
  margin: 30px;
  text-align: center;
}

.Section_article .Section_article02 {
  margin: 30px;
  text-align: center;
}

/* 포스터 이미지 */
.Section_article .swiper-slide img {
  border-radius: 10px;
  width: auto;
  height: 180px;
  margin-bottom: 10px;
}

/* 영화명 */
.Section_article .posterContent_title {
  width: 200px;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
}
